@import './common/styles/sass/variables';

.wrapper {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: $backgroundPrimaryColor;
  overflow-x: hidden;
}

