$backgroundPrimaryColor: #F8CC5D;
$primaryColor: #1F343E;
$secondaryColor: #4EB3E3;
$errorColor: #ED7487;
$whiteColor: #FFF;
$almostWhite: #F8F4F9;
$greyColor: #45565E;
$lightGreyColor: #6D7A80;
$transparent: transparent;
$titleFontFamily: 'Caveat Brush', cursive;
$textFontFamily: 'Noto Sans', sans-serif;
